/vendor
/node_modules
/.env
/.env.*
/.idea
/.vscode
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/composer.lock
package-lock.json
yarn.lock
*.log
.DS_Store
/phpunit.xml
/.phpunit.cache
